version: '3.9'

services:
  postgres:
    image: postgres:15
    restart: always
    container_name: annotation-postgres
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_HOST}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./annotation_backend
    container_name: annotation-backend
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - postgres

  frontend:
    build: ./annotation_frontend
    container_name: annotation-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  pgdata:
